<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/handles">Show All Target Handles</a></li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>