<h2>About Us</h2>
<article>
    <h3>What Motivated Us?</h3>
    <p>
        In 2017, a total of 65 shootings were reported that occurred on school grounds.
        If that is not shocking enough there were 28 reported in the first three months of 2018. 
        However, the most recent shooting in Parkland, Florida is still fresh in our minds and 
        has affected many people around the nation. The shooter entered the school armed and began
        firing at innocent students and teachers. What really got the public's attention was how the
        suspect used social media to display his intent but no one took the matter serious.  
    </p>
</article>
<article>
    <h3>What We Want And Plan To Do?</h3>
    <p>



    </p>
</article>