<div class="container">
    <section>
        <article class="motivation">
            <h3 id="motivation-heading">The Motivation</h3>
            <p id="motivation-text">
                In 2017, a total of 65 shootings were reported that occurred on school grounds.
                If that is not shocking enough there were 28 reported in the first three months of 2018. 
                However, the most recent shooting in Parkland, Florida is still fresh in our minds and 
                has affected many people around the nation. The shooter entered the school armed and began
                firing at innocent students and teachers. What really got the public's attention was how the
                suspect used social media to display their intent but no one took the matter serious.  
            </p>
        </article>
        <article class="purpose">
            <h3 id="purpose-heading">What We Plan To Do?</h3>
            <p id="purpose-text">
                With this recent shooting, the suspect posted on their social media that a plan to kill a few 
                days before. However, the authorities noticed the messages as well as teachers noticed a change
                in behavior but no one got the hints. We were shocked by this and wanted to take some sort of action.
                We want to create a website that allows to users to their Twitter account and run IBM Watson on their
                tweets to detect the user's personality. Watson's API will return a list of traits and corresponding values.
                These values can help categories the person as violent or not based on tweets.
            </p>
        </article>
        <article class="result">

        </article>
    </section>    
</div>

<!-->

<article>
    <h3>What We Want To Do?</h3>
    <p>



    </p>
</article>
<-->