<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
            <form method="post" id="passwordForm" action="/updatepassword">
                <input type="hidden" readonly class="form-control-plaintext" name='userID' value={{user._id}}/>
                <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" >
                <br/>
                <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Confirm Password" autocomplete="off">
                <br/>
                <a href="/profile/edit" id="" name="edit" class="btn btn-secondary">Cancel</a>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
        <!--/col-sm-6-->
    </div>
    <!--/row-->
</div>