<div class="jumbotron">
  <h1 class="display-4">Social Media Data Based Personality Analyzer</h1>
  <h2 class="display-4">What Can This App Do?</h2>
  <p class="lead">This app gives a quantitative description of a twitter user's personality based on his/er recent tweets.</p>
  <h2 class="display-4">Why do We Create it?</h2>
  <p class="lead">We still vividly remember the heartbroken news in February 15, that is, a 19-year-old teenager killed 17 of his schoolmates and teachers and injured dozens at Marjory Stoneman Douglas High School in Parkland, Florida.</p>

<p class="lead">The incident did not happen without any sign. Nikolas Cruz, the shooter, had explicitly expressed his violent inclination on social media at one time or another. Furthermore, instead of being shocked, many of his schoolmates said they were not surprised for what Nikolas did. One of them even told local radio station WFOR “Everyone predicted it”.</p>  

<p class="lead">Although so many peers of the shooter have detected his abnormal behavior, none of them warned the
local police department of the shooter’s possible violence. One reason could be that they just felt that way, but they didn’t have a substantial evidence to corroborate their feelings until the tragedy finally happened.</p>

<p class="lead"><em><strong>What if</strong></em> they have an analysis tool that can corrobarate or disprove their suspicion?</p>

<p class="lead">Our personality analyzer app is our answer to this "what if" question. The app uses the power of IBM Watson to implement an quantitative analysis on a target's social media activities. The analysis helps substantiate the user's understanding about the twitter user of interest.</p>
</div>
<div id="id-hooker" class="invisible">{{user.email}}</div>
