<article class="new-insight">
  <h1>Get Personality Insight</h1>
  <form action="/insights" method="POST" class="new-insight-form">
    <label>
      Type in a twitter handle</br>
      <input type="text" name="userHandle" placeholder="DrDavidDuke" value="{{userHandle}}" class="full-width-input"/>
    </label>
    <button type="submit">Submit</button>
  </form>
</article>