
<div class="middlePage">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-5" >
            <a href="/auth/twitter" style="margin-top:45px" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>
            <!--<a class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>-->
          </div>
          <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
            <form class="form-horizontal" method="post" action="/login">
              <fieldset>
                <input  name="username" type="text" placeholder="Enter User Name" class="form-control input-md">
                <input  name="password" type="password" placeholder="Enter Password" class="form-control input-md" style="margin-top:20px">
                <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right" style="margin-top:10px">Sign In</button>
              </fieldset>
            </form>
          </div>
      </div>
    </div>
  </div>
    
</div>
    
