<div class="page-header">
    <h1>My Profile <small>(<a href="/profile/edit">Edit</a>)</small></h1>
</div>

<div class="row">
    <div class="col-md-12" >
        <form>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="hidden" readonly class="form-control-plaintext"  value={{user._id}}>
              <span class="form-control-plaintext">{{user.name}}</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext"  value={{user.email}}>
            </div>
          </div>

          {{#if user.has_twitter}}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Twitter</label>
            <div class="col-sm-10">
               <a href="/twitter/remove" class="btn btn-primary">
                <i class="fa fa-twitter"></i> Un-link Twitter</a>
            </div>
          </div>
          {{else}}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Twitter</label>
            <div class="col-sm-10">
               <a href="/auth/twitter" class="btn btn-primary">
                <i class="fa fa-twitter"></i> Link Twitter</a>
            </div>
          </div>
          {{/if}}

        </form>
    </div>
</div>
