* {
    box-sizing: border-box;
}

html,
body {
    font-size: 14pt;
}

body {
    background: blanchedalmond;
    font-family: Georgia, "Times New Roman", Times, serif;
}

header {
    border-bottom: 1px solid #afafaf;
    max-width: inherit;
    display: flex;
}

.header-left {
    border: solid black;
    width: 60%;
    height: auto;
    float: left;
}

.header-right {
    padding: 5px;
    border: solid black;
    width: 40%;
    float: left;
}

.login-section>h2 {
    width: inherit;
    font-size: larger;
}

.to-clear {
    clear: both;
}

.site-name>h1 {
    font-weight: bolder;
}

.login-section>form {
    width: inherit;
}

form>fieldset {
    display: inline-flex;
}

.user-name,
.user-pass {
    width: 40%;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}

.post {
    width: 75%;
    border-bottom: 1px dashed #333;
}

.new-post-form {
    max-width: 300px;
}

.new-post-form .full-width-input {
    display: block;
    min-height: 3em;
    margin: 10px 0;
    width: 100%;
}

label {
    font-weight: bold;
}

.error-list li {
    color: #ff0000;
}

.author-link,
.author-link:link {
    color: #228b22;
}

.author-link:visited {
    font-style: italic;
}

.author-link:hover {
    font-style: normal;
    font-weight: 700;
}

.author-link:active {
    color: #ff0000;
}