main {
    margin-top: 70px;
}
body{
    margin: 0;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff!important;
    color: white;
    text-align: center;
    height: 35px;
}

#profileName {
    color: #fff;
}

#divfooter {
    margin-top: 5px;
}

#btns {
    margin-left: 190px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff!important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: fixed;
    right: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#nav{
    overflow: hidden;
    /* background-color: #333; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999999;
}