main {
    margin-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff!important;
    color: white;
    text-align: center;
    height: 35px;
}
#btns{
    margin-left: 190px;
}
#profileName{
    color: #fff;
}
#divfooter{
    margin-top: 5px;
}